{{#each this}}
<div class="topic-summary">
	<div class="grid-x">
		<div class="small-8 large-9">
			<a href="/discussion/{{this.id}}"><strong>{{this.title}}</strong></a>
		</div>
		<div class="small-6 large-3" style="text-align: right;">
			{{this.comment_count}} {{format_plural "comment" this.comment_count}}
		</div>
	</div>
	<div class="grid-x">
		<div class="small-6">
			by {{{display_user this.author}}}
		</div>
		<div class="small-6" style="text-align: right;">
			Last post: <em>{{format_date this.last_comment}}</em>
		</div>
	</div>
</div>
{{/each}}