<div id="dashboard-container" class="grid-container">
    <div class="grid-x align-center">
        <div class="cell small-12">
            <ul class="dropdown menu dashboard-menu flex-container align-justify" data-dropdown-menu>    
                <div class="dropdown menu flex-container" data-dropdown-menu>
                    <li class="is-active flex-container"><a href="/inbox"><i class="foundicon-mail"></i>&emsp;Messages&emsp;<span class='inbox-badge badge alert hide'></span></a></li>
                    <li><a href="/club-search" class="button light middle"><i class="fi-list foundicon-location"></i>&emsp;Find Clubs Near Me</a></li>
                    <li><a href="/create-club" class="button light right"><i class="fi-list foundicon-plus"></i>&emsp;Create a Club</a></li>
                </div>
                <li><a href="/change-user-settings" class="button"><i class="fi-list foundicon-settings"></i>&emsp;Account Settings</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="grid-container">
    <div class='grid-x align-middle align-center medium-cell-block-y'>
        <div class="card cell small-12 medium-10 large-8 inbox">
            <div class="grid-x grid-margin-y align-center">
            <div class="card-divider cell align-justify align-middle">
                <strong class="username-inbox">{{message.sender_id}}</strong>
                <a href="/send-message/{{message.sender_id}}"><button class="button">Reply</button></a>
            </div>
        </div>
        <div class="grid-x align-center">
            <div class="cell">
                <a href="/inbox/{{message.id}}">
                    <div class="card-divider comment spread-out message-title">
                        <div>{{message.subject}}</div>
                        <div>{{format_date_message message.createdAt}}</div>
                    </div>
                </a>
                <div class="card-section" style="background-color: white;">
                    <p>
                        {{message.message}}
                    </p>
                </div>
            </div>
        </div>         
    </div>
</div>
<script src="/javascript/find-username.js"></script>